@media screen and (max-width: 860px) {
  .search-section {
    justify-content: flex-start;
    min-height: 25vh;
    padding-top: 1rem;
    h1{
        font-size: 1.5rem;
    }
    input {
      min-width: 0;
      max-width: 100%;
    }
  }
  .info-section {
    flex-direction: column;
    top: 10rem;
    padding: 1rem;
    width: 70%;
    .card {
        padding: 5px 0px;
        text-align: center;
        h3{
            font-size: 1rem;
        }
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
  .map{
    min-height: 80vh;
  }
}
